// Abstracts
@import "abstracts/variables";

// Vendors
@import "vendors/bootstrap";

// Base
@import "base/typography";

// Layout
@import "layout/header";
@import "layout/nagivation";

// Components
@import "components/button";

// Pages

// Themes
@import "themes/theme";

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}