header {
  nav {
    background-color: $secondary-color;

    a.nav-link,
    a.nav-link:hover,
    a.nav-link:active {
      text-transform: uppercase;
      font-weight: 500;
      color: #393e4f;
    }

    .navbar-brand {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      font-weight: 300;
      font-style: normal;
    }

    ul li a i {
      margin-right: 4px;
    }
  }
}